/* Navbar.css */
.navbar {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  font-family: 'Arial', sans-serif; /* Change the font family */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff; /* White text color */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffc107; /* Yellow on hover */
}

.menu-button {
  background-color: transparent;
  border: none;
  color: #fff; /* White text color */
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-button:hover {
  color: #ffc107; /* Yellow on hover */
}

/* Responsive styles */
@media screen and (max-width: 995px) {
  .navbar {
    padding: 10px 5px;
  }

  .navbar-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .greet {
    font-size: 14px;
    margin-top: 5px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 70px;
    width: 100%;
    right: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
  }

  .navbar-links.active {
    visibility: visible;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links a {
    padding: 10px 20px;
  }
}